.insta
{
    
}

.insta ul
{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;    
    justify-content: space-around;
}

.insta ul li
{

    width: 32%;  /* Or whatever */
    margin: auto auto .4rem;  /* Magic! */
    
}