

@font-face {
    font-family: "Raptor";
    src: url("/fonts/RaptorV1Premium-Regular.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raptor";
    src: url("/fonts/RaptorV1Premium-Semibold.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raptor";
    src: url("/fonts/RaptorV1Premium-Black.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    background: black;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #F0A58B;
    border-radius: 0;
    border-right: 3px solid black;
    border: 3px solid black;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raptor", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.4;
  font-size: 18px;
  font-weight: 300;
  background: #111111;
  color: #a5a59d;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5
{
    font-family: "Raptor";
    font-weight: 900;
    color: #EEEEE2;
}

* {
  box-sizing: border-box;
}

a {
  color: #F0A58B;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}